:root {
    --main: #ff4b4b;
}

html, body {
    background-color: rgb(254, 254, 254);
    color: #636b6f;
    font-family: 'Nunito', sans-serif;
    font-weight: 200;
    height: 100%;
    margin: 0;
    line-height: 1.3;
    padding: 0;
}

.full-height {
    height: 100%;
}

.flex-center {
    align-items: center;
    display: flex;
    justify-content: center;
}

.position-ref {
    position: relative;
}

.top-right {
    position: absolute;
    right: 10px;
    top: 18px;
}

.content {
    text-align: center;
}

.title {
    font-size: 84px;
}

.nav-link, .navbar-brand {
    color: rgba(241, 228, 232, 1);
    font-size: 13px;
    font-weight: 600;
    letter-spacing: .1rem;
    text-decoration: none;
    text-transform: uppercase;
}
.nav-item {
    padding: 0 20px;
}

.m-b-md {
    margin-bottom: 30px;
}

       /*UTILITY*/

textarea {
    resize: none;
    outline: none;
    caret-color: rgba(229, 75, 75, 1);
    border-radius: 5px;
    border-color: #d7d9dc;
    transition: 0.15s ease-in;
    line-height: 1.4;
}

textarea:hover,
textarea:focus {
    border-color: #ff4b4b;
}

.hidden {
    /*visibility: hidden;*/
    display: none;
    transition: 0.2s ease-in;
}

.pdm {
    padding: 1rem;
}

.fas {
    color: rgba(241, 228, 232, 1);
    /*padding: 1rem;*/
    padding-left: 1rem;
}

.form-group.radio {
    /*display: flex;*/
    flex-direction: row;
    /*justify-content: center;*/
}

 a.nav-link:hover,
 a.navbar-brand:hover,
 .navbar-brand:hover *{
    color: #fff;
}

 .btn {
     display: inline-block;
     cursor: pointer;
     outline: none;
     padding: 0.5rem 2rem;
     border-radius: 5px;
     /*box-shadow: 0 0 2px;*/
     box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04);

     background-color: rgba(229, 75, 75, 1);
     transition: ease-in-out 0.4s;
     color: rgba(241, 228, 232, 1);
     font-size: 13px;
     font-weight: 600;
     letter-spacing: .1rem;
     text-decoration: none;
     text-transform: uppercase;
     /*flex: 1;*/
 }

 .btn:hover {
     background-color: rgb(255, 75, 75);
     color: #fff;
 }


.btn-link {
    text-decoration: none;
    border-bottom: 1px solid #646B6E;
    color: #646B6E;
    transition: 0.2s ease-in;
    /*padding: 1rem;*/
}
.btn-link:hover {
    border-color: var(--main);

}

.form-group .alert {
    text-align: center;
}

.invalid-feedback {
    padding: 1rem;
    background-color: rgba(255,88,88,0.55);
    border-radius: 5px;
    /*position: absolute;*/
    /*top: 90px;*/
    /*left: 10%*/
}

.mt-10 {
    margin-top: 10px;
}

.mb-10 {
    margin-bottom: 10px;
}

input[type="radio"].form-radio
{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    display: inline-block;
    position: relative;
    background-color: #f1f1f1;
    color: #666;
    top: -2px;
    height: 25px;
    width: 25px;
    border: 0;
    border-radius: 50px;
    border: 1px solid #f1f1f1;
    cursor: pointer;
    margin-right: 7px;
    outline: none;
}

input[type="checkbox"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    display: inline-block;
    position: relative;
    background-color: #f1f1f1;
    color: #666;
    top: -2px;
    height: 15px;
    width: 15px;
    border: 0;
    border-radius: 50px;
    border: 1px solid #f1f1f1;
    cursor: pointer;
    margin-right: 7px;
    outline: none;
}

input[type="checkbox"]:checked::before {
    position: absolute;
    font: 13px/1 'Open Sans', sans-serif;
    left: 3px;
    top: -1px;
    content: '\02143';
    transform: rotate(40deg);
    color: rgba(229, 75, 75, 1);
}

.form-group.radio {
    /*align-items: center;*/
    /*justify-content: center;*/
}
.form-radio:checked::before
{
    position: absolute;
    font: 13px/1 'Open Sans', sans-serif;
    left: 8px;
    top: 4px;
    content: '\02143';
    transform: rotate(40deg);
    color: rgba(229, 75, 75, 1);
}
.form-radio:hover
{
    background-color: #f7f7f7;
}
.form-radio:checked
{
    background-color: #f1f1f1;
}

        /*Header*/
.navbar {
    width: 100%;
    background: rgba(229, 75, 75, 1);
    box-shadow:inset 0 0px 5px rgba(0,0,0,0.1);
}

.navbar .container {
    display: flex;
    max-width: 1100px;
    height: 60px;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}

.navbar-brand {
    padding-left: .25rem;
    font-size: 1.5rem;
}

.navbar .navbar-toggler {
    display: none;
}

.nav-item {
    /*padding: 2rem;*/
}

.nav-link {
    transition: all 0.2s ease-out;
    /*transition: border-bottom 0.1s ease-out, color 0.1s ease-out;*/
}

.nav-link:hover {
    border-bottom: #fff solid 1px;

}

.navbar ul {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 0;
}

 /*Main Section*/
.container-form {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

}
.container-form form {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    height: 35vh;

    /*margin-top: 2rem;*/
    /*justify-content: center;*/
}

.form-check {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    /*padding: 1rem;*/
    /*border: 1px solid black;*/
}
label:not(:last-child) {
    display:block;
    /*text-align: right;*/
    margin-bottom: 0.5rem;
}

.form-group {
    display: flex;
    flex-flow: column;
    /*border: 1px solid black;*/
    margin-bottom: 0.3rem;
    justify-content: flex-start;
    width: 20rem;
    /*flex: 0 1 100%;*/
}

.form-group.col {
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: space-between;
    height: 70px;
}



.form-group.check {
    flex-direction: row;
    /*height: 20px*/
    align-items: center;
    padding: 1rem;
}
.form-group input{
    transition: all 0.25s ease-in-out;
    background-color: #FFFFFF;
    border: 1px solid #D6D9DC;
    border-radius: 3px;
    /*width: 100%;*/
    padding: 7px;
    caret-color: rgba(229, 75, 75, 1);
    /*font-size: 14px;*/
    margin-bottom: 0.5rem;
    outline: none;

}

.form-group input:hover,
.form-group input:focus {
    border-color: rgba(229, 75, 75, 1);
}

.form-group input.form-check-input {
    margin-bottom: 0;
    margin-right: 0.3rem;
}

.form-group label {
    /*text-align: right;*/
    /*width: 120px;*/
    margin-right: 8px;
}

.verify {
    padding: 2rem;
    text-align: center;
}

/*CREATE BLADE*/

.container-create {
    display: flex;
    max-width: 1100px;
    margin: 0 auto;
    flex-direction: column;
    align-items: center;
}

input#photoInput {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.photoContainer {
    width: 20rem;
    text-align: center;
}

.profileContainer h2{
    text-align: center;
}
#photoFormContent label {
    font-size: 1rem;
    color: #efe4e8;
    position: relative;
    background-color: rgba(229, 75, 75, 1);
    /*border-radius: 50%;*/
    /*border: 1px solid #aaacaf;*/
    /*box-shadow: inset 0 2px 4px 0 rgba(0, 0, 0, 0.2);*/
    /*height: 20px;*/
    /*width: 20px;*/
    display: inline-block;
    cursor: pointer;
    padding: 0.625rem 1.25rem;
}

#photoFormContent label:hover {
    background-color: rgb(255, 75, 75);
    color: #fff;
}

#gallery img {
    display: inline-block;
    /*border: 1px solid #aaacaf;*/
    margin: 0 0.6rem 1.5rem 0;
    box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04);

}

#gallery {
    display: flex;
    flex-flow: row wrap;
}

@media only screen and (min-width: 700px) {
    .form {
        width: 600px;
    }

    .form-group {
        /*flex-direction: row;*/
        /*align-items: center; !* To avoid stretching *!*/
        /*justify-content: center;*/
        margin-bottom: 20px;
    }

    .form-group input[type='text'],
    .form-group input[type='date'],
    .form-group input[type='textarea']
    {
        width: 305px;
        height: initial;
    }

    .container-form form {
        border: 1px solid #aaacaf;
        border-radius: 5px;
        max-width: 35vw;
        /*height: 25vh;*/
        padding: 2rem;
        box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04);
        /*margin-top: 4rem;*/
    }

    .form-group.check {
        justify-content: center;
        padding: 0;
    }

    /*    CREATE BLADE   */
    .container-create {
        flex-direction: row;
        align-items: flex-start;
        justify-content: center;
    }

    .container-create > div {
        margin: 50px 1rem 1rem 1rem;
        border: 1px solid #aaacaf;
        border-radius: 5px;
        max-width: 35vw;

        box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04);
        padding: 0.2rem 2rem;
    }

    #gallery:hover ~ span {
        color: #000;
    }

    /*.invalid-feedback {*/
    /*    position: absolute;*/
    /*    left: 33%;*/
    /*    top: 75px;*/
    /*}*/
}